@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">Welcome to your library</h1>
            <p class="display-6">Store your books in a digital database here.</p>
        </div>
        <div class="col-sm-6">
            <img src="images/landing-image.jpg" alt="books" />
        </div>
    </div>
</div>