@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Created for NMC's CIT195 application development course using Visual Studio's Razor Pages
    by Cayce Harwood </p>
<p>Please attribute the original author before considering use/distribution of resources.</p>
<p>Contact the author at cayceharwood@gmail.com for questions or concerns.</p>
