@page
@model IndexModel
@{
    ViewData["Title"] = "Contoso University";
}

<section>
    <h1 style="text=align: center;" class="display-3">Contoso University<br />Home of the Condors</h1>
    <img src="images/campus.jpg" alt="campus building" style="max-height: 200px;" />
    <img src="images/mansion.jpg" alt="campus building" style="max-height: 200px;" />
    <img src="images/room.jpg" alt="campus library" style="max-height: 200px;"  />
</section>