@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="display-4">Welcome to RpMovies</h1>
            <p class="display-6">Movies for rent online.</p>
            <p class="display-6">Rentals available 24/7</p>
            <p class="display-6">Stream online or have a title delivered</p>
            <p style="font-size: 1.5em">* Shipping unavailable Saturdays and Sundays</p>
        </div>
        <div class="col-sm-6">
            <img src="images/movie_background.jpg" alt="theater" />
        </div>
    </div>
</div>
